body {
    font-family: 'Nunito', sans-serif;
    margin: 20px;
}

h1 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 48px;
}

a{
    color: rgb(224, 151, 14);
    font-weight: bolder;
    text-decoration: none;
}

p {
    color:black;
}

footer{
    text-align: center;
    color: gray;
}

table.center{
    margin-left: auto;
    margin-right: auto;
}